<div class=" bg-zinc-900 shadow mb-10 w-full"> 
  <div class="container mx-auto px-7 py-2 md:py-3">
    <div class="flex justify-between items-center">
      <!-- Title -->
      <div class="flex justify-between text-lg md:text-xl font-bold">
        <h1 class="py-1 text-white">My Threads</h1>
      </div>

      <!-- user -->
      <div class="relative">
        <div class="bg-white text-black font-bold flex items-center justify-center rounded-full w-10 h-10 cursor-pointer">
          G
        </div>
      </div>

    </div>
  </div>
</div>